In [1]:
import sys
sys.path.append("../src")
import preprocessing
import cconfig
import clustering

# Plotting defaults
%matplotlib inline
import matplotlib.pyplot as plt

#Â Load data and preprocess

In [ ]:
# select type of features and default values
selected_features=cconfig.SELECTED_FEATURES_PACKET
dataset_type=cconfig.DATASET_TYPE_PACKET

# load original data in dataframes, sample, select some features and scale
df,df_Normal,df_Attack=preprocessing.data_load(0.01,None,False,dataset_type)

In [3]:
import pandas as pd

df_1=pd.read_csv("../inputs/test.csv")
df_2=pd.read_csv("../inputs/test.csv")

In [5]:
df_1.columns

Index(['tcp_stream', 'src_ip', 'src_port', 'dst_ip', 'dst_port', 'protocol',
       'total_packets', 'total_bytes'],
      dtype='object')

In [4]:
df_1

,tcp_stream,src_ip,src_port,dst_ip,dst_port,protocol,total_packets,total_bytes
0,18098,192.168.10.25,64286,52.9.9.68,443,TCP,10,0
1,18098,192.168.10.25,64286,52.9.9.68,443,TLSv1,5,704
2,18098,192.168.10.8,51152,192.243.250.36,80,HTTP,1,516
3,18098,192.168.10.8,51152,192.243.250.36,80,TCP,6,1
4,18098,192.243.250.36,80,192.168.10.8,51152,HTTP,1,1122
5,18098,192.243.250.36,80,192.168.10.8,51152,TCP,4,1122
6,18098,52.9.9.68,443,192.168.10.25,64286,TCP,6,0
7,18098,52.9.9.68,443,192.168.10.25,64286,TLSv1,4,1401

In [13]:
df_flow=df_1.groupby(['tcp_stream', 'src_ip', 'src_port', 'dst_ip', 'dst_port', 'protocol'])
#df_flow=df_1.groupby('tcp_stream')
df_flow

In [14]:
for key,group in df_flow:
    print(key,group)

(18098, '192.168.10.25', 64286, '52.9.9.68', 443, 'TCP')    tcp_stream         src_ip  src_port     dst_ip  dst_port protocol  \
0       18098  192.168.10.25     64286  52.9.9.68       443      TCP

   total_packets  total_bytes
0             10            0
(18098, '192.168.10.25', 64286, '52.9.9.68', 443, 'TLSv1')    tcp_stream         src_ip  src_port     dst_ip  dst_port protocol  \
1       18098  192.168.10.25     64286  52.9.9.68       443    TLSv1

   total_packets  total_bytes
1              5          704
(18098, '192.168.10.8', 51152, '192.243.250.36', 80, 'HTTP')    tcp_stream        src_ip  src_port          dst_ip  dst_port protocol  \
2       18098  192.168.10.8     51152  192.243.250.36        80     HTTP

   total_packets  total_bytes
2              1          516
(18098, '192.168.10.8', 51152, '192.243.250.36', 80, 'TCP')    tcp_stream        src_ip  src_port          dst_ip  dst_port protocol  \
3       18098  192.168.10.8     51152  192.243.250.36        80      TCP

   total_packets  total_bytes
3              6            1
(18098, '192.243.250.36', 80, '192.168.10.8', 51152, 'HTTP')    tcp_stream          src_ip  src_port        dst_ip  dst_port protocol  \
4       18098  192.243.250.36        80  192.168.10.8     51152     HTTP

   total_packets  total_bytes
4              1         1122
(18098, '192.243.250.36', 80, '192.168.10.8', 51152, 'TCP')    tcp_stream          src_ip  src_port        dst_ip  dst_port protocol  \
5       18098  192.243.250.36        80  192.168.10.8     51152      TCP

   total_packets  total_bytes
5              4         1122
(18098, '52.9.9.68', 443, '192.168.10.25', 64286, 'TCP')    tcp_stream     src_ip  src_port         dst_ip  dst_port protocol  \
6       18098  52.9.9.68       443  192.168.10.25     64286      TCP

   total_packets  total_bytes
6              6            0
(18098, '52.9.9.68', 443, '192.168.10.25', 64286, 'TLSv1')    tcp_stream     src_ip  src_port         dst_ip  dst_port protocol  \
7       18098  52.9.9.68       443  192.168.10.25     64286    TLSv1

   total_packets  total_bytes
7              4         1401

In [3]:
from scapy.all import *

In [ ]:
myreader = scapy.PcapReader(filename)

while True:
    packet = myreader.read_packet()
    if packet is None:
        break

In [ ]:
with PcapReader('file.pcap') as pr:
  for p in pr:
    ...do something with a packet p..